h1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: center;
}

.DishName {
    text-align: left;
    margin-left: 8%;
}

table {
    margin: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: white;
    width: 80%;
    border-collapse: collapse;
    text-align: left;
}

td {
    color: #669;
    border-top: 0px solid #e8edff;
    padding: 10px 15px;
    text-align: center;
}

tr:hover td {
    background: #e8edff;
}

input[type=text] {
    display: inline-block;
    margin: 2px;
    text-align: center;
    width: 10%;
}

button {
    display: inline-block;
    margin: auto;
}
