body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

h1 {
    text-align: center;
}

.CategoryName {
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 1%;
    border-bottom-style: solid;
}

.DishName {
    text-align: left;
    margin-left: 8%;
}

table {
    margin: auto;
    font-size: 14px;
    background: white;
    width: 80%;
    border-collapse: collapse;
    text-align: left;
}

td {
    color: #669;
    padding: 10px 15px;
    text-align: center;
}

tr:hover td {
    background: #e8edff;
}

input[type=text] {
    display: inline-block;
    margin: 2px;
    text-align: center;
    width: 10%;
    min-width: 15px;
}

#editedPrice {
    min-width: 33px;
}

button {
    display: inline-block;
    margin: auto;
}

#addToOrderBtn {
    display: inline-block;
    border-radius: 30px;
    background: #ffc107;
    border-color: #ffc107;
    margin: 4px;
    width: 60%;
    min-width: 75px;
    transition-duration: 0.4s;
}

#addToOrderBtn:hover {
    background: #212529;
    color: #ffc107;
    border-color: #212529;
}

.imgInTd {
    width: 20px;
}

#imgAddContent {
    width: 30px;
}