<?xml version="1.0" encoding="UTF-8"?>

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>BooksGetter</servlet-name>
    <servlet-class>com.epam.restaurant.controller.BooksGetterServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>BooksGetter</servlet-name>
    <url-pattern>/books</url-pattern>
  </servlet-mapping>
</web-app>